
{% extends 'base.html' %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="widget-next-match">
                        <div class="widget-title">
                            <h3>Premier League - Free tip</h3>
                        </div>
                        <div class="widget-body mb-3">
                            <div class="widget-vs">
                                <div
                                    class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center">
                                        <h3>Chelsea</h3>
                                    </div>
                                    <div>
                                        <span class="vs"><span>vs <br /> 17:45 GMT</span></span>
                                    </div>
                                    <div class="team-2 text-center">
                                        <h3>Man City</h3>
                                    </div>
                                </div>
                                <strong class="text-primary">Prediction: Chelsea win</strong> <br />
                                <strong class="text-primary">Odds: 2.8</strong>
                            </div>
                            <br />
                            <div class="widget-vs">
                                <div
                                    class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center">
                                        <h3>- -</h3>
                                    </div>
                                    <div>
                                        <span class="vs"><span>VS</span>
                                    </div>
                                    <div class="team-2 text-center">
                                        <h3>- - </h3>
                                    </div>
                                </div>
                                <!-- <strong class="text-primary">Prediction: -- win or Draw</strong> <br />
                                <strong class="text-primary">Odds: 3.5</strong><br /> -->
                                <strong class="text-primary">Unlock Match tips</strong>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <h1>Your sure earning tips</h1>
                    <a href="#about" class="btn-get-started scrollto">Subscribe</a>
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2861291900816377"
                        crossorigin="anonymous"></script>
                    <!-- adunit1 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2861291900816377"
                        data-ad-slot="8249363484" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

            </div>


        </div>





    </div>

</section><!-- End Hero -->
{% endblock %}